In [1]:
# Import dependencies
import pandas as pd
from sqlalchemy import create_engine
import time

In [2]:
# Connecting to the Database
engine = create_engine("postgresql://postgres:postgres@localhost/WWTP")
conn = engine.connect()

# Reading SQL query into a Dataframe 
df_temp1 = pd.read_sql_query('select * from "temp_1"', con=conn)
df_temp2 = pd.read_sql_query('select * from "temp_2"', con=conn)
df_temp3 = pd.read_sql_query('select * from "primary_temp_1"', con=conn)
df_temp4 = pd.read_sql_query('select * from "primary_temp_2"', con=conn)
df_temp5 = pd.read_sql_query('select * from "primary_temp_3"', con=conn)
df_temp6 = pd.read_sql_query('select * from "primary_temp_4"', con=conn)
df_temp7 = pd.read_sql_query('select * from "primary_temp_5"', con=conn)
df_temp8 = pd.read_sql_query('select * from "primary_temp_6"', con=conn)
df_temp9 = pd.read_sql_query('select * from "primary_temp_7"', con=conn)
df_temp10 = pd.read_sql_query('select * from "primary_temp_8"', con=conn)

In [3]:
# Selecting specific columns
df_temp1 = df_temp1[['Time','T1_2_3_4-S1_2-PRI-INF-Flow','T5_6-S3-PRI-INF-Flow']]

In [4]:
# Selecting specific columns
df_temp2 = df_temp2[['Time', 'T1-S1-PRI-P1-RSD', 'T1-S1-PRI-P2-RSD', 'T2-S1-PRI-P3-RSD',
       'T2-S1-PRI-P4-RSD', 'T3-S2-PRI-P5-RSD', 'T3-S2-PRI-P6-RSD',
       'T4-S2-PRI-P7-RSD', 'T4-S2-PRI-P8-RSD', 'T5-S3-PRI-P9-RSD',
       'T5-S3-PRI-P10-RSD', 'T5-S3-PRI-P11-RSD', 'T6-S3-PRI-P12-RSD',
       'T6-S3-PRI-P13-RSD', 'T6-S3-PRI-P14-RSD']]

In [5]:
# Merging Dataframes
df_1 = pd.merge(df_temp1, df_temp2, on='Time', how='outer')
df_2 = pd.merge(df_1, df_temp3, on='Time', how='outer')
df_3 = pd.merge(df_2, df_temp4, on='Time', how='outer')
df_4 = pd.merge(df_3, df_temp5, on='Time', how='outer')
df_5 = pd.merge(df_4, df_temp6, on='Time', how='outer')
df_6 = pd.merge(df_5, df_temp7, on='Time', how='outer')
df_7 = pd.merge(df_6, df_temp8, on='Time', how='outer')
df_8 = pd.merge(df_7, df_temp9, on='Time', how='outer')

In [6]:
# Merging Dataframes
df = pd.merge(df_8, df_temp10, on='Time', how='outer')
df

,Time,T1_2_3_4-S1_2-PRI-INF-Flow,T5_6-S3-PRI-INF-Flow,T1-S1-PRI-P1-RSD,T1-S1-PRI-P2-RSD,T2-S1-PRI-P3-RSD,T2-S1-PRI-P4-RSD,T3-S2-PRI-P5-RSD,T3-S2-PRI-P6-RSD,T4-S2-PRI-P7-RSD,...,T3-S2-PRI-P5-RSS,T3-S2-PRI-P6-RSS,T4-S2-PRI-P7-RSS,T4-S2-PRI-P8-RSS,T5-S3-PRI-P9-RSS,T5-S3-PRI-P10-RSS,T5-S3-PRI-P11-RSS,T6-S3-PRI-P12-RSS,T6-S3-PRI-P13-RSS,T6-S3-PRI-P14-RSS
0,2017-01-01,NaN,192129.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2017-01-02,NaN,188744.7,4.0,3.0,2.00,2.0,5.0,3.0,5.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2017-01-03,NaN,263114.5,3.0,2.0,3.00,3.0,6.0,2.0,5.00,...,2.8000,2.600000,3.300000,3.100000,2.500000,2.700000,2.800000,2.700000,2.9000,3.6000
3,2017-01-04,NaN,291380.6,2.5,2.5,2.00,3.0,3.5,1.0,4.00,...,2.7325,3.066786,2.826071,2.766786,3.236786,2.431429,2.532857,2.621071,2.5525,3.9575
4,2017-01-05,NaN,228537.5,4.0,4.0,1.50,2.0,3.0,2.0,4.00,...,2.7000,3.300000,2.600000,2.600000,3.600000,2.300000,2.400000,2.600000,2.4000,4.1000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1587,2021-05-07,160904.0,167499.6,2.5,2.5,3.00,4.0,5.0,4.0,2.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1588,2021-05-08,168383.5,168014.2,3.0,4.0,2.00,5.0,5.0,3.0,4.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1589,2021-05-09,166632.9,169784.0,3.5,4.5,3.00,4.0,5.0,3.0,2.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1590,2021-05-10,167058.5,159774.7,5.0,6.0,4.25,5.0,6.0,4.0,4.25,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1591,2021-05-11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
# Write to PostgreSQL
start_time = time.time()
df.to_sql('Primary', con=conn, if_exists='replace', index=False)
print("to_sql duration: {} seconds".format(time.time() - start_time))

to_sql duration: 1.742197036743164 seconds

In [8]:
# Close the connection
conn.close()